<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Azure Artifacts feed -->
    <add key="AQIPrivateFeed" value="https://pkgs.dev.azure.com/afs-dev/_packaging/AQIPrivateFeed/nuget/v3/index.json" />
    <!-- NuGet.org as fallback -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="AQIPrivateFeed">
      <package pattern="AQI.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
